body {
    background: -webkit-linear-gradient(120deg, rgb(97, 177, 177) 45%, rgb(255, 254, 254) 55%);
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


/* home page */

.blogs {
    background-color: rgb(228, 233, 232);
    height: auto;
    width: 100%;
    margin: 10px auto 10px auto;
    padding: 20px;
    color: black;
    border-radius: 20px;
}

.blogs:h1 {
    font-size: 2.5rem;
}

.blogs:p {
    font-size: 1.8rem;
}


/* Compose page */

.formContent {
    padding: 10px;
}

.btn,
label {
    margin-top: 10px;
}


/* posts */

h1 {
    margin-bottom: 20px;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: realtive;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
    padding-top: 5px;
}

.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}